* {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url(bg.jpg);
  opacity: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.table {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30%;
}

td,
th {
  color: goldenrod;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
  padding: 20px;
}

th {
  font-size: 50px;
  text-align: center;
}

td {
  text-align: left;
}

table {
  border-spacing: 10px;
}
